{% extends 'hh2/layout.html' %}

{% block title %}
  西条の観光
{% endblock %}

{% block main %}
  <div class="container guide-main">
    <h1 class="mt-3 mb-5 display-4 text-center">西条の<span class="theme-green">観光</span></h1>

    <div class="row">
      <div class="card card-about col-sm">
        <div class="card-img-top about-img abt-first"></div>
        <div class="card-body">
          <h5 class="card-title text-center">三ツ城古墳</h5>
          <p class="card-body">
            広島県最大の前方後円墳を含む3つの古墳群。史跡公園として整備されている。
          </p>
        </div>
      </div>

      <div class="card card-about col-sm">
        <div class="card-img-top about-img abt-first"></div>
        <div class="card-body">
          <h5 class="card-title text-center">鏡山城</h5>
          <p class="card-body">
            大内氏の安芸国支配の中心となった山城跡。周囲は整備され鏡山公園となっている。
            春には桜が美しい。
          </p>
        </div>
      </div>

      <div class="card card-about col-sm">
        <div class="card-img-top about-img abt-first"></div>
        <div class="card-body">
          <h5 class="card-title text-center">安芸国分寺歴史公園(国史跡)</h5>
          <p class="card-body">
            奈良時代に建立された安芸国分寺跡が歴史公園となっている。現在建っている国分
            寺の仁王門は県内唯一の中世の仁王門。
          </p>
        </div>
      </div>
    </div>

    <section class="footer pb-3 mb-5">
      <h5 class="text-center">
        <a href="https://www.hh-kanko.ne.jp/event/index.html" class="saijo-link">
          その他、東広島の観光については東広島観光協会のホームページをごらんください。
        </a>
      </h5>
    </section>


  </div>
{% endblock %}
