{% extends 'home/layout.html' %}
{% load i18n %}
{% load static %}

{% block styling %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/desktop/about.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/mobile/about-mob.css' %}">
{% endblock %}

{% block title %}
  {% trans '東広島ボランティアガイドについて' %}
{% endblock %}

{% block main %}
<main class="main container-fluid">
  <div class="jumbotron about-jumbo">
    <h1 class="site-title page-title text-center">{% trans '活動<span class="green2">紹介</span>' %}</h1>
  </div>
  <hr>
  <section class="row">
      <!-- Card 1 - JR info -->
      <div class="card card-about col-sm">
        <div class="card-img-top about-img abt-1"></div>
        <div class="card-body site-text">

          <h4 class="card-title text-center">
            {% trans '酒蔵通り案内' %}
          </h4>
          <p class="card-body site-text">
            {% trans 'JR西条駅前に広がる酒蔵通りのご案内をいたします。' %}
          </p>
          <div class="form-buttons">
            <button class="btn btn-o2" type="button" data-toggle="modal" data-target="#info1" >
              {% trans 'さらに読む' %}
            </button>
          </div>
        </div>
      </div>

      <!-- Card 3 - Exploration Course -->
      <div class="card card-about col-sm">
        <div class="card-img-top about-img abt-2"></div>
        <div class="card-body site-text">
          <h4 class="card-title text-center">
            {% trans '東広島探訪講座' %}
          </h4>
          <p class="card-body site-text">
            {% blocktrans %}
              東広島市内の興味深い歴史と場所、東広島ゆかりの人物などを学びましょう。
              毎年実施しています。その都度市の広報等で募集します。
            {% endblocktrans %}
          </p>
        </div>
      </div>
  </section>
  <section class="row">

    <!-- Card 4 - Children guides -->
    <div class="card card-about col-sm">
      <div class="card-img-top about-img abt-3"></div>
      <div class="card-body site-text">
        <h4 class="card-title text-center">
          {% trans '子供ガイド養成講座' %}
        </h4>
        <p class="card-body site-text">
          {% blocktrans %}
            自分の住む街を知り魅力を発見してもらいます。ガイドになってお客さんのご案内
            をしま せんか?
          {% endblocktrans %}
        </p>
        <div class="form-buttons">
          <button class="btn btn-o2" type="button" data-toggle="modal" data-target="#info2" >
            {% trans 'さらに読む' %}
          </button>
        </div>
      </div>
    </div>
    <!-- Card 5 - Walk the area -->
    <div class="card card-about col-sm">
      <div class="card-img-top about-img abt-4"></div>
      <div class="card-body site-text">
        <h4 class="card-title text-center">
          {% trans '東広島を歩く' %}
        </h4>
        <p class="card-body site-text">
          {% blocktrans %}
            東広島市内の名所旧跡を巡る歴史散策ウォークです。
            毎年1-3回実施しています。その都度市の広報等で募集します。
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </section>

  <section class="row">
    <!-- Card 6 - Festival -->
    <div class="card card-about col-sm">
      <div class="card-img-top about-img abt-5"></div>
      <div class="card-body site-text">
        <h4 class="card-title text-center">
          {% trans '春の西条・醸華町まつり' %}
        </h4>
        <p class="card-body site-text">
          {% blocktrans %}
            毎年3月の第一土曜日に西条酒蔵通りにて開催しています。年々来場者が増え、春
            を告げる楽しいお祭りになっています。普段見ることのできない酒蔵内の見学もできます
            (要予約)。スタンプラリーに参加して、豪華景品をゲットしましょう!
          {% endblocktrans %}
        </p>
      </div>
    </div>
    <!-- Card 7 - Other -->
    <div class="card card-about col-sm">
      <div class="card-img-top about-img abt-6"></div>
      <div class="card-body site-text">
        <h4 class="card-title text-center">{% trans 'その他' %}</h4>
        <p class="card-body site-text">
          {% blocktrans %}
            様々な大学講座秋や西条酒まつりに協力しています。特に熟年大学では「探検・我
            が町めぐり」としてマイクロバスによる市内名所めぐりをしています。
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </section>
  <hr>
  <section class="row my-5">
      <!-- Contact Info -->
      <section id="contact-div">
        <div class="contact-message">
          <h5 class="display-4 text-muted">
            {% trans 'お問い' %}<span class="green1">{% trans '合わせ' %}</span>
          </h5>
        </div>
        <div class="pb-2 my-2" id="contact-info">
          <span class="text-muted">{% trans '<span class="green2">西条</span>酒蔵通り案内所' %}</span> <br>
          <span class="text-muted">{% trans '<span class="green2">〒739-0011</span> 広島県東広島市西条本町17-1' %}</span> <br>
          <span class="text-muted"><span class="green2">Tel / Fax</span>: 082-421-2311</span> <br>
        </div>
      </section>
  </section>


  <!-- Modals -->
  <!-- INFO 1 -->
  <div class="modal fade" id="info1" tabindex="-1" role="dialog" aria-labelledby="info1-label" aria-hidden="true">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center modal-lg" role="document">
          <div class="modal-content">

            <div class="modal-header green1-bg">
              <h3 class="modal-title site-title m0" id="info1-label">
                {% trans '酒蔵通り案内' %}
              </h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-times white" aria-hidden="true"></i>
              </button>
            </div>

            <div class="modal-body">
              <ul class="list-group list-group-flush mb-5">
                <li class="list-group-item green2-bg">
                  <h5 class="site-title underline m0">{% trans 'てくてくガイド' %}</h4>
                </li>
                <li class="list-group-item">
                  {% trans '毎月10日' %}
                </li>
                <li class="list-group-item">
                  {% trans '受付・出発 10:00-11:00am 随時 ' %}
                </li>
                <li class="list-group-item">
                  {% trans '集合 駅2F観光案内所' %}
                </li>
                <li class="list-group-item">
                  {% trans '所要時間 約1時間半' %}
                </li>
                <li class="list-group-item">
                  {% trans '参加費 無料' %}
                </li>
              </ul>

              <ul class="list-group list-group-flush mb-5">
                <li class="list-group-item green2-bg">
                  <h5 class="site-title underline m0">{% trans 'JRハイキング' %}</h4>
                </li>
                <li class="list-group-item">
                  {% trans '毎週日曜' %}
                </li>
                <li class="list-group-item">
                  {% trans '受付・出発 10:30am' %}
                </li>
                <li class="list-group-item">
                  {% trans '集合 駅2F観光案内所' %}
                </li>
                <li class="list-group-item">
                  {% trans '所要時間 約1時間半' %}
                </li>
                <li class="list-group-item">
                    {% trans '参加費 無料' %}
                </li>
              </ul>

              <ul class="list-group list-group-flush mb-5">
                <li class="list-group-item green2-bg">
                  <h5 class="site-title underline m0">{% trans 'ガイド派遣' %}</h5>
                </li>
                <li class="list-group-item">
                  {% trans '東広島観光協会を通してガイド派遣を受け付けています。' %}
                </li>
                <li class="list-group-item">
                  {% trans '参加費 5名様まで1000円 6-20名 2000円' %}
                </li>
                <li class="list-group-item">
                  {% trans '20名以上の場合はガイド1人につき2000円' %}
                </li>
                <li class="list-group-item">
                  {% trans '詳しくはガイド派遣のページをご覧ください' %}
                </li>
              </ul>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
  </div>
    
  <!-- INFO 2 -->
  <div class="modal fade" id="info2" tabindex="-1" role="dialog" aria-labelledby="info2-label" aria-hidden="true">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center" role="document">
        <div class="modal-content">

          <div class="modal-header green1-bg">
            <h5 class="modal-title site-title m0" id="info2-label">{% trans '酒蔵通り案内' %}</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-times white" aria-hidden="true"></i>
              </button>
          </div>

          <div class="modal-body">
            <ul class="list-group list-group-flush mb-5">
              <li class="list-group-item">
                {% trans '毎年6月から8月に開催、全5回の講座です。' %}
              </li>
              <li class="list-group-item">
                {% trans '対象は小学校4、5、6年生' %}
              </li>
              <li class="list-group-item">
                {% trans '参加費 500円 (子供ガイド専用のTシャツ代金)' %}
              </li>
              <li class="list-group-item">
                {% trans '募集は市の広報にて行います。' %}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

