{% extends 'home/layout.html' %}
{% load static %}

{% block styling %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/guide.css' %}">
{% endblock %}

{% block title %}
  ガイド派遣
{% endblock %}

{% block main %}
  <div class="container guide-main">

    <h1 class="text-center display-4 mb-4">ガイド<span class="theme-green">派遣</span></h1>
    <p class="lead text-center mx-4"><h5>酒蔵通りのガイドをご希望の方は申込書に記入の上、FAXにてお申し込みください。</h5></p>

    <div class="jumbotron guide-jumbo my-3">

    </div>

    <section class="guide-prices">
      <ul class="list-group mx-4">
        <li class="list-group-item activate guide-top">所要時間 ご案内する酒蔵の数により1時間から2時間かかります</li>
        <li class="list-group-item">ガイド料 5名まで1000円</li>
        <li class="list-group-item">6名以上20名まで2000円</li>
        <li class="list-group-item">20名以上の場合は複数のガイドがご案内致します。</li>
      </ul>
      <a href="/media/pdf/book_form.pdf" download class="btn btn-custom-4 mt-3 py-3" style="font-size: 1.3em;">ガイド派遣の申し込み書はこちら。</a>
    </section>
    <hr class="my-4">
    <section class="guide-footer">
      <h5 class="my-2">
        酒蔵通り以外のガイドをご希望の方は案内所まで電話でお問い合わせください。
      </h5>
    </section>

  </div>
{% endblock %}
