{% extends 'home/layout.html' %}
{% load i18n %}
{% load static %}

{% block styling %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block title %}
  {% trans 'ホームページ' %}
{% endblock %}

{% block main %}
  <div class="main">
    <div class="jumbotron jumbotron-fluid home-splash"></div>
    <div class="home-text px-2">
      <h1>{% trans 'ようこそ西条へ' %}</h1>
      <p>
        {% blocktrans %}
          東広島の中心地西条は江戸時代には広島藩最大の本陣を誇る宿場町でした。 明治になり酒作りが盛んとなり、大正から昭和にかけての酒造りの黄金期には「酒都西条」
          とて灘、伏見に続く三大銘醸地となりました。現在も多くの酒蔵が軒を連ねて銘酒を醸し
          ております。
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}
          また、古代の古墳、国分寺跡、中世の山城など見所もございます。
          我々と共に西条探訪に出かけませんか。
        {% endblocktrans %}
      </p>
      <p>
      </p>
    </div>
  </div>
{% endblock %}
