{% extends 'home/layout.html' %}
{% load i18n static %}

{% block styling %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/desktop/home.css' %}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block title %}
  {% trans 'ホームページ' %}
{% endblock %}

{% block main %}
  <section class="main container-fluid">
    <section class="jumbotron home-splash">
      <h1 class="site-title text-center white page-title">
        {% trans 'ようこそ<span class="green3">西条</span>へ。' %}
      </h1>
    </section>
    <section class="home-text px-2">
      <p class="site-text">
        {% blocktrans %}
          東広島の中心地西条は江戸時代には広島藩最大の本陣を誇る宿場町でした。 明治になり酒作りが盛んとなり、大正から昭和にかけての酒造りの黄金期には「酒都西条」
          とて灘、伏見に続く三大銘醸地となりました。現在も多くの酒蔵が軒を連ねて銘酒を醸し
          ております。
        {% endblocktrans %}
      </p>
      <p class="site-text">
        {% blocktrans %}
          また、古代の古墳、国分寺跡、中世の山城など見所もございます。
          我々と共に西条探訪に出かけませんか。
        {% endblocktrans %}
      </p>
      <hr>
      <p class="site-text">
        <h3 class="site-title my-5 green2">
          {% trans 'このサイトについて' %}
        </h3>

        <dl class="row">
          <dt class="col-sm-3">
            <a href="{% url 'blog-home' %}" class="link2">{% trans 'ニュース' %}</a>
          </dt>
          <dd class="col-sm-9">
            <p class="site-text">
              {% trans 'スタッフから最新の情報、お知らせとニュースはこちらです。' %}
            </p>
          </dd>

          <dt class="col-sm-3">
            <a href="{% url 'about' %}" class="link2">{% trans '活動紹介' %}</a>
          </dt>
          <dd class="col-sm-9">
            <p class="site-text">
              {% trans '東広島ボランティアガイドグループの活動についての情報はこちら。' %}
            </p>
          </dd>

          <dt class="col-sm-3">
            <a href="{% url 'guide' %}" class="link2">{% trans 'ガイド派遣' %}</a>
          </dt>
          <dd class="col-sm-9">
            <p class="site-text">
              {% trans 'ボランティアを目指している物のための情報はこちら。' %}
            </p>
          </dd>

          <dt class="col-sm-3">
            <a href="{% url 'saijo' %}" class="link2">{% trans '西条の観光' %}</a>
          </dt>
          <dd class="col-sm-9">
            <p class="site-text">
              {% trans '東広島ボランティアガイドは西条と周辺地域のガイドをやっています。それについての情報はこちら。' %}
            </p>
          </dd>

          <dt class="col-sm-3">
            <a href="{% url 'team' %}" class="link2">{% trans 'スタッフ' %}</a>
          </dt>
          <dd class="col-sm-9">
            <p class="site-text">
              {% trans '東広島ボランティアガイドのメンバーとスタッフについてまたは連絡先はこちら。' %}
            </p>
          </dd>

          <dt class="col-sm-3">
            <a href="{% url 'contact' %}" class="link2">{% trans '連絡' %}</a>
          </dt>
          <dd class="col-sm-9">
            <p class="site-text">
              {% trans '質問、問い合わせ、または連絡先についてはこちら。' %}
            </p>
          </dd>
        </dl>
      </p>
    </section>
  </section>
{% endblock %}
