{% extends "home/layout.html" %}
{% load i18n %}

{% load static %}

{% block styling %}
  <link rel="stylesheet" type="text/css" href="{% static 'email_blast/css/emails-all.css' %}">
{% endblock %}

{% block title %}
  {% trans 'メールを削除する' %}
{% endblock %}

{% block main %}
  <div class="container delete-form">
    <form method="post">
      {% csrf_token %}
      <fieldset class="form-group del-fg">
        <legend class="text-center">{% trans 'メールを削除する' %}</legend>
        <p class="lead text-center">{% trans 'このメールを削除してもよろしいですか？' %}</p>
      </fieldset>
      <div class="form-group del-fg">
        <input type="submit" value="削除" class="btn btn-custom-danger submit-btn">
        <a href="{% url 'email-index'%}" class="btn btn-custom-2 submit-btn">{% trans '戻る' %}</a>
      </div>
    </form>
  </div>
{% endblock %}
