{% extends "home/layout.html" %}
{% load i18n %}

{% block title %}
  {% trans 'メールを削除する' %}
{% endblock %}

{% block main %}
  <section class="container-fluid form-main h-100">
    <form method="post" class="form-main mb-5">
      {% csrf_token %}
      <fieldset class="form-group del-fg">
        <legend class="text-center">
          <h1 class="site-title text-center">{% trans 'メールを削除する' %}</h1>
        </legend>
        <p class="site-text text-center">{% trans 'このメールを削除してもよろしいですか？' %}</p>
      </fieldset>
      <div class="form-buttons">
        <input type="submit" value="{% trans '削除' %}" class="btn btn-bdelete">
        <a href="{% url 'email-index'%}" class="btn btn-bconfirm">{% trans '戻る' %}</a>
      </div>
    </form>
  </section>
{% endblock %}
