{% extends 'home/layout.html' %}
{% load recipients static i18n %}

{% block styling %}
  <link rel="stylesheet" type="text/css" href="{% static 'email_blast/css/emails-all.css' %}">
{% endblock %}

{% block title %}
  {% trans 'メール管理' %}
{% endblock %}

{% block main %}
  <div class="container">
    <h1 class="display-4 text-center blast-title">{% trans '全てのメール' %}</h1>
    <a href="{% url 'email-draft' %}" class="btn btn-custom-3 btn-block my-2">{% trans '下書きのメールを書く' %}<i class="fas fa-mail-bulk"></i></a>
    <hr>

    {% for email in emails %}
      <div>
        <h2 class="blast-title">
          {{ email.subject }}
          {% if email.is_admin %}
            <small><i class="fas fa-users post-icon"></i></small>
          {% endif %}
          {% if email.sent %}
            <small><i class="far fa-envelope post-icon"></i></small>
          {% endif %}
        </h2>
        {% if not email.sent %}
          <a href="{% url 'email-update' email.pk %}" class="btn btn-sm btn-custom-2">{% trans '更新' %}</a>
          <a href="{% url 'email-view' email.pk %}" class="btn btn-sm btn-custom-3">{% trans '確認する / 送る' %}</a>
          <a href="{% url 'email-delete' email.pk %}" class="btn btn-sm btn-custom-danger">{% trans '削除する' %}</a>
        {% endif %}
        <h5 class="my-2">
          <ul class="list-group blast-list my-3">
            <li class="list-group-item active disabled">
              {% if email.sender %}
                {% blocktrans with sender=email.sender.profile.name %}
                  {{ sender }}から、受取人：
                {% endblocktrans %}
              {% else %}
                {% trans '無しから、受取人'%}：
              {% endif %}
            </li>
            {% for person in email.recipients|to_list %}
              <li class="list-group-item">{{ person }}</li>
            {% endfor %}
          </ul>
        </h5>

        <p>
          {{ email.content|linebreaks }}
        </p>

        <small>
          {% with created=email.created_at|date:'G:i - d/m/y' updated=email.last_updated_at|date:'G:i - d/m/y' %}
            {% trans '作成時間' %}: {{ created }}<br>
            {% trans '更新時間' %}: {{ updated }}<br>
          {% endwith %}
          {% with sent=email.sent_at|date:'G:i - d/m/y' %}
            {% trans '送られた時間' %}: {% if not email.sent %}-{% else %} 
              {% blocktrans with sent=sent%}
                {{ sent }}
              {% endblocktrans %} 
            {% endif %}
          {% endwith %}
        </small>
      </div>
      <hr>
    {% endfor %}

    {% if is_paginated %}
      <div>
        {% if page_obj.has_previous %}
          <a href="?page=1">{% trans '1ページ目' %}</a>
          <a href="?page={{ page_obj.previous_page_number }}">{% trans '前のページ' %}</a>
        {% endif %}

        {% blocktrans with number=page_obj.number total=page_obj.paginator.num_pages %}
          ページ #{{ number }}/{{ total }}
        {% endblocktrans %}

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">{% trans '次のページ' %}</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">{% trans '最後のページ' %}</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock %}
