{% extends 'home/layout.html' %}
{% load recipients static i18n %}


{% block title %}
  {% trans 'メールの確認' %}
{% endblock%}

{% block main %}
  <div class="container-fluid my-4">
    <h1 class="text-center site-title">{% trans 'メールを確認してください' %}:</h1>

    <div class="my-3 py-1">
      <h2 class="site-title">{{ email.subject }}</h2>
      <p>
        <ul class="list-group">
          <li class="list-group-item green1-bg"><h6>{% trans '受取人' %}:</h6></li>
          {% for address in email.recipients|to_list %}
            <li class="list-group-item">{{ address }}</li>
          {% endfor %}
        </ul>
      </p>
      <p class="lead">{{ email.content|linebreaks }}</p>
    </div>
    <div>
      <a href="{% url 'email-send' email.pk %}" class="btn btn-sm btn-confirm">{% trans '送る' %}</a>
      <a href="{% url 'email-update' email.pk%}" class="btn btn-sm btn-delete">{% trans '更新' %}</a>
      <a href="{% url 'email-index' %}" class="btn btn-sm btn-2">{% trans '戻る' %}</a>
    </div>
  </div>
{% endblock %}
