/* MAIN DIVS */

.about-main {
  /* height: 65vh; */
  min-height: 400px;
}

/* INFO CARDS */

.card-about {
  width: auto;
  height: auto;
  margin: 0 3vw;
}

.about-img {
  height: 100px;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
}

/* BACKGROUND IMAGES */
.abt-1 {
  background-image: url("/media/img/hh1.jpg");
}

.abt-2 {
  background-image: url("/media/img/hh2.jpg");
}

.abt-3 {
  background-image: url("/media/img/hh3.jpg");
}

.abt-4 {
  background-image: url("/media/img/hh4.jpg");
}

.abt-5 {
  background-image: url("/media/img/hh5.jpg");
}

.abt-6 {
  background-image: url("/media/img/hh5.jpg");
}

/* BOTTOM DIV */

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  /* height: 100px; */
}

.contact-message, .contact-channels {
  margin: 0 20px;
}

.subheader-about {
  font-size: 1.3em;
}

.about-section {
  display: none;
  text-align: justify;
  font-size: 1.5em;
  padding: 0 25%;
}

 /* Center Modal Helper Classes (http://jsfiddle.net/sRmLV/1140/) */
 .vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
 max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}
