{% extends 'home/layout.html' %}
{% load crispy_forms_tags static i18n %}

{% block styling %}
  <link rel="stylesheet" type="text/css" href="{% static 'booking/css/booking-all.css' %}">
{% endblock %}

{% block title %}
  {% trans 'ツアーを予約' %}
{% endblock %}

{% block main %}
  <div class="container my-4">
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <legend class="display-4 text-center">{% trans 'ツアーを予約' %}</legend>
      {% crispy form %}
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    // Datetime Picker
    $(function () {
      $("#id_scheduled_at").datetimepicker({
        format: 'Y-m-d H:i',
      });
    });
  </script>
{% endblock %}
