{% extends 'hh2/layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
  ツアーを予約
{% endblock %}

{% block main %}
  <div class="container my-4">
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <legend class="display-4 text-center">ツアーを予約</legend>
      {% crispy form %}
    </form>
  </div>
{% endblock %}
