{% extends 'home/layout.html' %}
{% load static i18n %}

{% block title %}
  {% trans 'ブッキング情報' %}
{% endblock %}


{% block main %}
  <section class="main">
    <h1 class="site-title text-center">
      <span class="green1">{{ booking.contact_name }}</span>: <small class="ml-3">{{ booking.scheduled_at }}</small>
    </h1>
    <hr>
    <section id="booking-info" class="row px-5 mb-5">
        <div class="col-md-6 my-3">
          <ul class="list-group">
            <li class="list-group-item green1-bg">
              <h4>{% trans '連絡先' %}</h4>
            </li>
            <li class="list-group-item">{% trans '名前：' %}{{ booking.contact_name }}</li>
            <li class="list-group-item">{% trans '電話番号：' %}{{ booking.contact_number }}</li>
            <li class="list-group-item">{% trans '住所：' %}{{ booking.contact_address }}</li>
            <li class="list-group-item">{% trans 'メールアドレス：' %}{{ booking.contact_email }}</li>
          </ul>
        </div>
        <div class="col-md-6 my-3">
          <ul class="list-group">
            <li class="list-group-item green1-bg">
              <h4>{% trans 'グループの情報' %}</h4>
            </li>
            <li class="list-group-item">{% trans 'グループ予約：' %}{% if booking.is_group %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-times"></i>{% endif %}</li>
            <li class="list-group-item">{% trans 'グループ名前：' %}{{ booking.group_name }}</li>
            <li class="list-group-item">{% trans 'グループの数：' %}{{ booking.group_number }}</li>
            <li class="list-group-item">{% trans '期間：' %}{{ booking.age_group }}</li>
          </ul>
        </div>

      <div class="col-md-6 my-3">
        <ul class="list-group">
          <li class="list-group-item green1-bg">
            <h4>{% trans '基本情報' %}</h4>
          </li>
          <li class="list-group-item">{% trans '予定時間：' %}{{ booking.scheduled_at }}</li>
          <li class="list-group-item">{% trans '期間：' %}{{ booking.duration }}</li>
          <li class="list-group-item">{% trans '使う交通手段：' %}{{ booking.transportation }}</li>
          <li class="list-group-item">{% trans '訪問したい酒蔵：' %}{{ booking.places_to_visit }}</li>
        </ul>
      </div>
      <div class="col-md-6 my-3">
        <ul class="list-group">
          <li class="list-group-item green1-bg">
            <h4>{% trans '他に伝えたい情報' %}</h4>
          </li>
          <li class="list-group-item">
            <p class="site-text">{{ booking.extra_details }}</p>
          </li>
          <li class="list-group-item">
            <p class="site-text">
              {% trans '確認：' %}{% if booking.confirmed %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-times"></i>{% endif %}
            </p>
          </li>
          <li class="list-group-item">
            <p class="site-text">{% trans '完成：' %}{% if booking.complete %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-times"></i>{% endif %}</p>
          </li>
        </ul>
      </div>

      <div class="col-md-12 my-3 form-buttons">
        <a href="{% url 'booking-update' booking.id %}" class="btn btn-update">{% trans '更新' %}</a>
        <a href="{% url 'booking-delete' booking.id %}" class="btn btn-delete">{% trans '削除' %}</a>
        {% if booking.confirmed %}
          <a href="{% url 'booking-unconfirm' booking.id %}" class="btn btn-bconfirm">{% trans '未確認' %}</a>
        {% else %}
          <a href="{% url 'booking-confirm' booking.id %}" class="btn btn-confirm">{% trans '確認する' %}</a>
        {% endif %}
        {% if booking.complete %}
          <a href="{% url 'booking-incomplete' booking.id %}" class="btn btn-bcomplete">{% trans '不完全' %}</a>
        {% else %}
          <a href="{% url 'booking-complete' booking.id %}" class="btn btn-complete">{% trans '終わり' %}</a>
        {% endif %}
        <a href="{% url 'booking-index' %}" class="btn btn-1">{% trans '戻る' %}</a>
      </div>
    </section>
  </section>
{% endblock %}
