{% extends 'home/layout.html' %}
{% load crispy_forms_tags static i18n %}

{% block title %}
  {% trans 'ツアのカンセル' %}
{% endblock %}

{% block main %}
  <section class="container-fluid delete-form">
    <form method="post">
      {% csrf_token %}
      <fieldset class="form-group del-fg">
        <legend class="text-center"><h1>{% trans 'ツアのカンセル' %}</h1></legend>
        <p class="lead text-center">{% trans 'ブッキングを削除しますけどよろしいですか？' %}</p>
      </fieldset>
      <div class="form-group del-fg">
        <input type="submit" value="{% trans '確認' %}" class="btn btn-danger submit-btn">
        <a href="{% url 'post-detail' object.id %}" class="btn btn-info submit-btn">{% trans '戻る' %}</a>
      </div>
    </form>
  </section>
{% endblock %}
