/* MENU HEADER */
.guide-top {
  font-size: 1.5em;
  color: #f2f2f2;
  background-color: #4d783e;
}

/* JUMBOTRON */
.guide-jumbo {
  padding: 0 !important;
  background-image: url(/media/img/hh2.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.3);
  color: white;
  height: 300px;
}

.guide-main {
  padding: 20px;
}

.guide-footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  justify-content: space-around;
  align-items: center;
}
