@media (max-width: 768px) {
    .mob-only {
        display: none;
    }

    .full-only {
        display: block;
    }

    /* Nav is vertical appropriate height */
    #content > aside > nav {
        height: auto;
        min-height: 150px;
    }

    #collapse > ul {
        flex-direction: column;
        align-items: flex-start;
    }
}