{% extends "blog/post_list_layout.html" %}
{% load static i18n %}

{% block title %}
  {% trans 'スタフポッスト' %}
{% endblock %}

{% block header %}
  <h1 class="site-title text-center my-4">{% trans 'ポスト' %}：<span class="text-muted"Ω>{% trans 'スタフ専用' %}</span></h1>
{% endblock %}

{% block select_posts %}
  {% if post.author %}
    <a href="{% url 'post-user' post.author.username %}" class="btn btn-sm btn-outline-primary">
      {% blocktrans with author=post.author.profile.name %}
        {{ author }}のポストを全て見る
      {% endblocktrans %}
    </a>
  {% endif %}
{% endblock %}
