{% extends "blog/post_list_layout.html" %}
{% load i18n %}

{% block title %}
  {% trans '全ポスト' %}
{% endblock %}

{% block header %}
  <h1 class="display-4 text-center my-4 blog-header">{% trans 'ブロッグ' %} <span class="text-muted">{% trans '全ポスト' %}</span></h1>
{% endblock %}

{% block select_posts %}
  <a href="{% url 'post-user' post.author.username %}" class="btn btn-sm btn-custom-1">
    {% blocktrans with author=post.author.profile.name %}
      {{ author }}のポストを全て見る
    {% endblocktrans %}
  </a>
{% endblock %}
