{% extends "home/layout.html" %}
{% load crispy_forms_tags static i18n %}

{% block main %}
  <section class="container-fluid form-main">
    <form method="post" class="form-main mb-5">
      {% csrf_token %}
      <fieldset class="form-group my-4">
        <legend class="site-title text-center mb-5">
          <h3 class="site-title m0">
            {% block form_func %}{% endblock %}
          </h3>
        </legend>
        {{ form|crispy }}
      </fieldset>

      {% block extra_options %}
      {% endblock %}
      <fieldset class="form-buttons">
        <button type="submit" class="btn btn-sm btn-bconfirm">{% block button_text %}{% endblock %}</button>
        <a href="{% block back_to_path %}{% endblock %}" class="btn btn-sm btn-3 mx-3 form-button">{% block back_to_text %}{% endblock %}</a>
      </fieldset>
    </form>

  </section>
{% endblock %}
