{% extends "home/layout.html" %}
{% load static i18n %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block main %}
  <div class="container">
    <h2 class="display-4 text-center mt-4 mb-4">{{ post.title }}</h2>
    <p class="lead">{{ post.content | linebreaks }}</p>

    <p><small>{% trans '名前'　%} <a href="{% url 'user-about' post.author.username %}" class="blog-author">{{ post.author.profile.name }}</a></small></p>
    <p><small>
      {% trans '投稿時間' %}: {{ post.posted_at|date:"G:i - d M, Y" }}
    <small>
      {% trans '更新時間' %}: {{ post.updated_at|date:"G:i - d M, Y" }}
    </small></p>
    <a href="{% url 'post-comment' post.id %}" class="btn btn-sm btn-custom-2">{% trans 'コメントする' %}</a>
    <a href="{% url 'blog-home' %}" class="btn btn-sm btn-custom-2">{% trans '戻る' %}</a>
    {% if post.author == user %}
      <a href="{% url 'post-update' post.id %}" class="btn btn-sm btn-custom-3">{% trans '更新' %}</a>
      <a href="{% url 'post-delete' post.id %}" class="btn btn-sm btn-custom-danger">{% trans '削除する' %}</a>
    {% endif %}
    <hr>
  </div>
  {% if post.comments.all.count != 0 %}
    <div class="container">
      {% for comment in post.comments.all %}
        <div class="my-2 comment">
          {{ comment.comment }}  {% if comment.by_admin %} <i class="fas fa-check"></i>{% endif %}
          <br>
          <small>
            {% blocktrans with name=comment.commenter time=comment.posted_at|date:"G:i, d/m/y" %}
              名前： {{ name }}　時間： {{ time }}
            {% endblocktrans %}
          </small>
          <br class="mb-2">
          {% if user.is_authenticated %}
            <a href="{% url 'post-comment_delete' pk=post.pk pkc=comment.pk %}" class="btn btn-sm btn-custom-danger mt-1">{% trans '削除する' %}</a>
            {% if comment.by_admin %}
              <a href="{% url 'post-comment_unadmin' pk=post.pk pkc=comment.pk %}" class="btn btn-sm btn-custom-1 mt-1"><i class="fas fa-times"></i> <i class="fas fa-users"></i></a>
            {% else %}
              <a href="{% url 'post-comment_admin' pk=post.pk pkc=comment.pk %}"class="btn btn-sm btn-custom-1 mt-1"><i class="fas fa-users"></i></a>
            {% endif %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}
