{% extends "blog/post_list_layout.html" %}
{% load i18n %}

{% block title %}
  {% trans 'ブロッグ' %}
{% endblock %}

{% block header %}
  <div class="jumbotron">
    <h1 class="site-title text-center my-4 page-title">{% trans 'ニュース' %}</h1>
  </div>
  <section class="intro my-5">
    <p class="site-text">
      {% trans 'このページは東広島ボランティアガイドのニュースページです。グループからの発表、または大事な情報はここに出て来ます。それいがのことについては”連絡”ページを使って直接連絡してください。' %}
    </p>
  </section>
  <hr>
{% endblock %}

{% block select_posts %}
  {% if post.author %}
    <a href="{% url 'post-user' post.author.username %}" class="btn btn-sm btn-1">
      {% blocktrans with author=post.author.profile.name %}
        {{ author }}のポッストを見る</a>
      {% endblocktrans %}
    {% endif %}
{% endblock %}
