{% extends "blog/post_list_layout.html" %}
{% load i18n %}

{% block title %}
  {% blocktrans name=user.profile.name %}
    {{ name }}のポスト
  {% endblocktrans %}
{% endblock %}

{% block header %}
  <h1 class="display-4 text-center my-4 blog-header">
    Posts by <a href="{% url 'user-about' user.username %}" class="blog-title">{{ user.profile.name }}</a> <span class="text-muted">({{ page_obj.paginator.count }})

    {% blocktrans with name=user.profile.name count=page_obj.paginator.count %}
    {{ name }}のポスト ({{ count }})
    {% endblocktrans %}
    </span>
  </h1>
{% endblock %}

{% block select_posts %}
  <a href="{% url 'blog-home' %}" class="btn btn-sm btn-custom-1 my-1">{% trans '全ポスト' %}</a>
{% endblock %}
