/* POST INDICATOR ICONS */

.post-icon {
  color: #4d783e;;
}

/* COMMMENT */

.comment {
  padding: 10px;
  border-left: 0.5px solid rgba(34, 139, 34, 0.4);
}

/* BLOG TITLE */
.blog-title:link, .blog-title:visited, .blog-title:active {
  color: #6f8f72;
}

/* BLOG AUTHOR */
.blog-author:link, .blog-author:visited, .blog-author:active {
  color: #4d783e;
}

/* BLOG HEADER */
.blog-header {
  color: #4d783e;
}
