.del-fg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn {
  margin: 0 5px;
}

.delete-form {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
