/* Divs */
.form-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
}

.form-input-group {
    width : 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.form-input {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/* Button */
.form-button, input.form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-align: center;
}