body {
    padding: 0;
    margin: 0;
    /* font-family: AM; */
    display: flex;
    justify-content: space-between;
}

/* All container */
#content {
    min-height: 100vh;
}

.main {
    height: 100%;
    width: 100%;
}

/* Nav is full page height */
#content > aside > nav, #content > main {
    height: 99vh;
    min-height: 600px;
}

#center {
    height: 500px;
    overflow-y: scroll;
}


/* Nav */
/* Home link */
#user-toggle:link, #user-toggle:visited {
    color: #4d783e;
}

#user-toggle:hover, #user-toggle:active {
    color: #ba274a;
    text-decoration: none;
}

.nav-item {
    margin: 0.5rem 0;
}

/* Nav contents */
/* Layout */
#collapse {
    width: 100%;
}

#collapse > ul {
    flex-direction: row;
}

/* Logo */
#logo > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0.4rem;
}

#logo > a > span {
    color: #000;
}

#logo > a:hover {
    text-decoration: none;
}

/* Logo / Home link */
#topline {
    font-size: 1.3rem;
    border-bottom: 2px solid black;
    padding-bottom: 0.2rem;
}

#subline {
    color: #5b6c5d;
    font-size: 0.9em;
    padding-top: 3px;
}

/* Menu items */
.nav-choice {
    width: 100%;
    /* border: 1px solid purple; */
    padding: 0.1rem;
    display: flex;
    justify-content: space-around;
}

/* Language choice */
#language-choice {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8rem;
    padding: 5px;
    width: 100%;
}

#language-choice > a {
    font-size: 0.6rem;
    width: calc(25px + 20%);
}