/* Background images */
.saijo-jumbo {
    background-image: url('/media/img/hh11.jpg');
}

.saijo-1 {
    background-image: url('/media/img/hh9.jpg');
}

.saijo-2 {
    background-image: url('/media/img/hh12.jpg');
}

.saijo-3 {
    background-image: url('/media/img/hh10.jpg');
}
