/* Utility classes & typography */
/* Japanese font */
@font-face {
    font-family: AM;
    src: url('./fonts/AppliMincho.otf');
}

/* Jumbotron & titles */
.jumbotron {
    position: relative;
    height: 55vh;
    min-height: 250px;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.3);
    background-color: #f2f2f2;
}

.page-title {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #f2f2f2;
}

/* format & setting */
.mob-only {
    display: none;
}

.full-only {
    display: block;
}

.m0 {
    margin: 0 !important;
}

.return-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

/* Typography */
.site-title {
    margin: 1.7rem 0;
}

.site-text {
    font-size: 1.2rem;
    text-align: justify;
}


h1.site-title {
    font-size: calc(2rem + 3vw);
}

h2.site-title {
    font-size: calc(1.5rem + 3vw);
}

h3.site-title {
    font-size: calc(1rem + 2vw);
}

h4.site-title {
    font-size: calc(1rem + 1.5vw);
}

/* Highlights */
.green1 {
    color: #4d783e;
}

.green2 {
    color: #729b79;
}

.green3 {
    color: #bacdb0;
}

.white {
    color: #fcfafb;
}

.black {
    color: #2e2c2f;
}

.red {
    color: #ba274a;
}

.green1-bg {
    color: #f2f2f2;
    background-color: #4d783e;
}

.green2-bg {
    color: #f2f2f2;
    background-color: #729b79;
}


/* Links & buttons */
/* Links */
.link1:link, .link1:visited {
    color: #729b79;
}

.link1:hover, .link1:visited {
    color: #4d783e;
    text-decoration: none;
}

.link2:link, .link2:visited {
    color: #4d783e;
}

.link2:hover, .link2:visited {
    color: #bacdb0;
    text-decoration: none;
}

/* Buttons */
.btn-1 {
    background-color: #4d783e;
    border: 2px solid #4d783e;
    color: #fcfafb;
    display: flex;
    justify-content: center;
}

.btn-1:hover {
    border: 2px solid #4d783e;
    background-color: #fcfafb;
    color: #4d783e;
}

.btn-2 {
    background-color: #6d9f71;
    border: 2px solid #6d9f71;
    color: #fcfafb;
    display: flex;
    justify-content: center;
}

.btn-2:hover {
    border: 2px solid #6d9f71;
    background-color: #fcfafb;
    color: #6d9f71;
}

.btn-o2 {
    background-color: #fcfafb;
    border: 2px solid #6d9f71;
    color: #6d9f71;
    display: flex;
    justify-content: center;
}

.btn-o2:hover {
    border: 2px solid #6d9f71;
    background-color: #6d9f71;
    color: #fcfafb;
}

.btn-red {
    background-color: #ba274a;
    border: 2px solid #ba274a;
    color: #fcfafb;
    display: flex;
    justify-content: center;
}

.btn-red:hover {
    border: 2px solid #ba274a;
    background-color: #fcfafb;
    color: #ba274a;
}

/* Admin links - color by app function */
.blog-link:link, .blog-link:visited {
    color: #d38b5d;
}

.blog-link:hover, .blog-link:active {
    color: #99621e;
    text-decoration: none;
}

.booking-link:link, .booking-link:visited {
    color: #70163c;
}

.booking-link:hover, .booking-link:active {
    color: #2e0f15;
    text-decoration: none;
}

.mail-link:link, .mail-link:visited {
    color: #52aa8a;
}

.mail-link:hover, .mail-link:active {
    color: #52aa5e;
    text-decoration: none;
}

.user-link:link, .user-link:visited {
    color: #a28497;
}

.user-link:hover, .user-link:active {
    color: #69385c;
    text-decoration: none;
}

/* Forms */
/* Divs */
.form-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
}

.form-input-group {
    width : 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.form-input {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/* Button */
.form-button, input.form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-align: center;
}

/* Mobile */
@media (max-width: 768px) {
    .mob-only {
        display: block;
    }

    .full-only {
        display: none;
    }
}