{% extends "home/layout.html" %}
{% load widget_tweaks i18n static %}

{% block title %}
  {% trans 'ログイン' %}
{% endblock %}

{% block styling %}
  <link rel="stylesheet" href="{% static 'home/css/desktop/form-utils.css'%}">
{% endblock %}

{% block main %}
  <section class="form-main h-100">
    <form method="post" class="form-main">
      {% csrf_token %}

      <legend>
        <h2 class="site-title text-center m0">
          {% trans 'ロッグイン' %}
        </h2>
      </legend>

      {{ form.non_field_errors }}
      <section class="form-input-group">
        <div class="form-input">
          {{ form.username.errors }}
          <h5 class="site-title">
            <label for="{{ form.username.username_label }}" class="login-label">
              {% trans 'ユーザーネーム' %}
            </label>
          </h5>
          {% render_field form.username class+="form-control" %}
        </div>
        <div class="form-input">
          {{ form.username.errors }}
          <h5 class="site-title">
            <label for="{{ form.username.password_label }}" class="login-label">
              {% trans 'パスワード' %}
            </label>
          </h5>
          {% render_field form.password class+="form-control" %}
        </div>
      </section>

      <section class="form-input-group">
        <div class="form-buttons">
          <button type="submit" class="btn mx-4">{% trans 'ロッグイン' %}</button>
          <a href="{% url 'home' %}" class="btn mx-4">{% trans '戻る' %}</a>
          <a href="{% url 'password_reset' %}" class="btn mx-4">{% trans 'パスワード忘れた' %}</a>
        </div>
      </section>

    </form>
  </section>
{% endblock %}
