{% extends "home/layout.html" %}
{% load i18n static %}

{% block styling %}
  <link rel="stylesheet" href="{% static 'home/css/desktop/form-utils.css' %}">
{% endblock %}

{% block title %}
  {% trans 'ログアウト' %}
{% endblock %}

{% block main %}
  <section class="container py-5 h-100 form-main">
    <h2 class="text-center site-title mb-5">{% trans 'ログアウトが完成しました。' %}</h2>

    <div class="form-buttons">
      <a href="{% url 'home' %}" class="btn mx-4">{% trans 'ホームページに戻る' %}</a>
      <a href="{% url 'user-login' %}" class="btn mx-4">{% trans 'サインインする。' %}</a>
    </div>
  </section>

{% endblock %}
