{% extends "home/layout.html" %}
{% load i18n static %}

{% block styling %}
  <link rel="stylesheet" href="{% static 'home/css/desktop/form-utils.css' %}">
{% endblock %}

{% block title %}
  {% trans 'パスワードリセット' %}
{% endblock %}

{% block main %}
  <div class="container py-5 h-100 form-main">
    <h2 class="text-center display-4 mb-5">{% trans 'パスワードリセットが完成しました。' %}</h2>

    <div class="form-buttons">
      <a href="{% url 'home' %}" class="btn mx-4">{% trans 'ホームページに戻る' %}</a>
      <a href="{% url 'user-login' %}" class="btn mx-4">{% trans '改めてサインイン' %}</a>
    </div>
  </div>
{% endblock %}
