{% extends "home/layout.html" %}
{% load crispy_forms_tags static i18n %}

{% block styling %}
  <link rel="stylesheet" href="{% static 'users/css/desktop/profile.css' %}">
  <link rel="stylesheet" href="{% static 'users/css/mobile/profile-mob.css' %}">
{% endblock %}

{% block title %}
  {% trans 'プロファイル' %} - {{ person.profile.name }}
{% endblock %}

{% block main %}
  <section class="main">
    <h3 class="site-title text-center my-5">
      {% trans 'ユーザープロファイル' %}：<span class="green1">{{ person.profile.name }}</span>
    </h3>

    <section class="user-buttons">
      <button class="btn btn-sm btn-confirm mx-3 profile-toggle" id="show-profile">{% trans 'プロファイル' %}</button>
      <button class="btn btn-sm btn-update mx-3 profile-toggle" id="show-info">{% trans '個人情報' %}</button>
      <a href="{% url 'post-user' person.username %}" class="btn btn-sm btn-3 mx-3 profile-toggle" >
        {% blocktrans with name=person.profile.name %}
          {{ name }} のポスト
        {% endblocktrans %}
      </a>
      {% if user_form and profile_form %}
        <button class="btn btn-sm mx-3 profile-toggle" id="show-update">{% trans '更新する' %}</button>
      {% endif %}
    </section>
    <hr>

    <section id="profile" class="profile-content mb-5">

      <div id="profile-pic-div">
        <img class="rounded-circle border" id="profile-pic-img" src="{{ person.profile.image.url }}" alt="Member Photo: {{ person.profile.name }}">
      </div>

      <div id="profile-info">
        <dl class="row">
          <dt class="col-sm-6">
            {% trans '名前' %}
          </dt>
          <dd class="col-sm-6">
            <p class="site-text">
              <span class="text-muted">{{ person.profile.name }}</span>
            </p>
          </dd>
          <dt class="col-sm-6">
              {% trans 'ユーザーネーム' %}
            </dt>
            <dd class="col-sm-6">
              <p class="site-text">
                <span class="text-muted">@{{ person.username }}</span>
              </p>
            </dd>          
          <dt class="col-sm-6">
            {% trans 'メールアドレス' %}
          </dt>
          <dd class="col-sm-6">
            <p class="site-text">
              <span class="text-muted">{{ person.email }}</span>
            </p>
          </dd>

          <dt class="col-sm-6">
            {% trans '役割' %}
          </dt>
          <dd class="col-sm-6">
            <p class="site-text">
              <span class="text-muted">{{ person.profile.role }}</span>
            </p>
          </dd>
        </dl>
      </div>  
    </section>

    <section id="profile-about" class="profile-content mb-5">
      <div>
        <h3 class="text-center site-title">
          {% blocktrans with name=person.profile.name %}
            {{ name }}について
          {% endblocktrans %}
        </h3>
      </div>
      <div>
        <p class="site-text">
          {{ person.profile.about | linebreaks }}
        </p>
      </div>
    </section>

    {% if user_form and profile_form %}
      <section id="profile-update" class="profile-content mb-5">
        <form action="{% url 'user-about' person.username %}" method="post" enctype="multipart/form-data" id="update-form">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <fieldset>
                <legend>{% trans '個人情報の更新' %}</legend>
                {{ user_form|crispy }}
                <a href="{% url 'password_reset' %}" class="btn btn-sm">{% trans 'パスワードリセット' %}</a>
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset>
                {{ profile_form|crispy }}
              </fieldset>
            </div>
          </div>
          <button type="submit" class="btn btn-sm btn-block my-5">{% trans '更新する' %}</button>
        </form>
      </section>
    {% endif %}

    <div class="return-buttons">
      <a href="{% url 'home' %}" class="btn btn-1">{% trans 'トップページへ' %}</a>
      <a href="{% url 'team' %}" class="btn btn-2">{% trans 'メンバー紹介へ' %}</a>
    </div>
  </section>
{% endblock %}


{% block scripts %}
  <script src="{% static 'users/js/profile.js' %}"></script>
{% endblock %}
