{% extends "home/layout.html" %}
{% load static i18n %}

{% block styling %}
  <link rel="stylesheet" href="{% static 'users/css/desktop/team.css' %}">
{% endblock %}

{% block title %}
  {% trans 'メンバー情報' %}
{% endblock %}

{% block main %}
  <section class="container-fluid main my-5">
    <h3 class="site-title text-center">
      {% trans '東広島ボランティアガイドメンバー紹介' %}
    </h3>
    <div class="jumbotron"></div>
    <hr>
    <section id="team">
      {% for member in team %}
        <div class="card col-md-4">
          <div class="card-header">
            <h6 class="site-title text-center">
              {{ member.profile.name }}: @<a href="{% url 'user-about' member.username%}">{{ member.username }}</a></h5>
            </h6>
          </div>
          <div class="card-body py-2 px-2">
              <img class="card-img-top mx-auto my-2 profile-pic" src="{{ member.profile.image.url }}" alt="Member Photo: {{ member.profile.name }}">
          </div>
          <div class="card-footer">
            <h5 class="site-title text-center">
              {{ member.profile.role }}
            </h5>
          </div>
        </div>
      {% endfor %}
    </section>

    {% if is_paginated %}
      <div>
        {% if page_obj.has_previous %}
          <a href="?page=1">{% trans '1ページ目' %}</a>
          <a href="?page={{ page_obj.previous_page_number }}">{% trans '前のページ' %}</a>
        {% endif %}
  
        {% blocktrans with number=page_obj.number max=page_obj.paginator.num_pages %}
          ページ #{{ number}}/{{ max }}
        {% endblocktrans %}
  
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">{% trans '次のページ' %}</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">{% trans '最後のページ' %}</a>
        {% endif %}
      </div>
    {% endif %}

    <div class="return-buttons my-5">
      <a href="{% url 'home' %}" class="btn">{% trans 'トップページへ' %}</a>
    </div>
  </section>
{% endblock %}
